DEBUG=True
DJANGO_ALLOWED_HOSTS=lvh.me,.lvh.me,.localhost,localhost

4!mz%k##k&b!ll0&4xux6v)sb_i$8ooe9g0eltd4t5*sjqno_b

POSTGRESQL_HOST=db
POSTGRESQL_PORT=5432
POSTGRESQL_USER=postgres
POSTGRESQL_PASS=postgres
POSTGRESQL_DB=database

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

AWS_REGION=
