.interests {
  margin-top: 113px;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15% 0 15%;
}

.save {
  max-width: 242px;
}

.info-save {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #4a90e2;
  margin-top: 22px;
}

.subjects {
  display: flex;
  align-items: left;
}

.subjects-choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choice {
  margin-right: 10px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  border: 1px solid;
  border-radius: 100px;
  padding: 6px 18px;
  background-color: white;
}

.choice:hover {
  color: white;
  cursor: pointer;
}

@media (max-width: 750px) {
  .interests {
    margin-top: 76px;
    padding: 0 0 0 0;
    min-width: 320px;
  }

  .save {
    min-height: 32px;
  }
}
