.tooglemenu-items {
  position: absolute;
  left: 0;
  top: 55px;
  width: 100%;
  padding-top: 24px;
  background-color: white;
  z-index: 3;
  height: 100vh;
}

.tooglemenu-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.tooglemenu-items li {
  display: flex;
}
.tooglemenu-items li:hover {
  cursor: pointer;
}

.tooglemenu-items li {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #3e433e;
  margin: 0 0 31px 32px;
}

.tooglemenu-items li:hover {
  cursor: pointer;
}

.tooglemenu-login {
  color: #4990e2 !important;
  font-weight: bold;
}

@media (min-width: 1170px) {
  .tooglemenu-items {
    display: none;
  }
}
